<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esta es la plantilla de porfolio</title>
</head>
<body>
    <h1>Este es el portfolio de : {{autor}} </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint architecto quis est omnis nostrum, ipsam eaque laudantium minima adipisci, laboriosam voluptatum quos. Expedita in doloremque quo iste deserunt similique ipsa!</p>
<footer>
    <address></address>
</footer>
    mail {{correo}}
</body>
</html>