{% extends "base.html"%}

{% block title %}
Libro {{libro.id}}
{% endblock title %}

{% block main %}
   <div class="libro">
    <h2>Datos del Libro {{libro.titulo}}</h2>
    <p>GENERO: {{libro.get_genero_display}}</p>
    <p>{{libro.descripcion}}</p>
    <p>AUTORES:
        {% for autor in libro.autor.all %}
        
        <a class="autor" href="{% url 'autor' autor.id %}">
            {{autor.nombre}} {{autor.apellidos}}
        </a>    
            
        {% endfor %}
    </p> 
    <p>{{libro.editorial}}</p>
    <p>{{libro.anio_edicion}}</p>  
    <div class="image" >
        <img src="{{libro.portada.url}}" alt="">
    </div>
</div>
    
    <div class="back">
        <footer>
            <a href="{% url 'libros'%} ">Volver</a>
        </footer>
        </div>
    
{% endblock main %}